body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: hsl(0, 0%, 15%);
  display: flex;
}
.header > * {
  margin-left: 20px;
  justify-content: left;
}
.header-btns {
  margin-left: auto;
  align-self: center;
  /* padding: 15px; */
  justify-content: space-around;

}
.header-btns > * {
  padding: 15px;
  font-weight: bolder;
  margin-right: 10px;
  border-radius: 10px;
  border: 1px solid black;
  color: rgb(237, 237, 237);
  background-color: hsl(0, 0%, 20%);
  transition: background-color .15s;
}
.header-btns > *:hover {
  background-color: hsl(0, 0%, 10%);
}

.overlay {
  position: absolute;
  display: flex;
  z-index: 2;
  justify-content: center;
  align-items: center;
  height: 75%;
  width: 100%;
  background-color: hsla(0, 0%, 16%, 0.888);
  font-size: 1.5em;
}
.overlay > * {
  color: rgba(255, 255, 255, 0.783);
  font-size: 3em;
}
.hide-overlay {
  display: none;
}


.time-feedback {
  text-align: center;
}
.number-line{
  position: relative;
  border: solid 1px hsl(0, 0%, 15%);
  background-color: hsl(0, 0%, 15%);
  height:25px;
  border-radius: 50px;
  margin: 30px 33%;
  /* width: 60%; */

}
.acc-display{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.refresh {
  height: 20px;
  background-color: grey;
  border-radius: 25%;
  padding: 7px;
  margin: 20px 0 0 0;
}
.early-marker {
  position: absolute;
  left: 1.5%;
  height: 30px;
  width: 1.2px;
  background-color: hsl(0, 0%, 40%);
}
.early-text{
  color:hsl(0, 0%, 55%);
  font-weight: bolder;
  margin-top: 1.75em;
  transform: translateX(-15px);
  margin-right: 100px;
}
.late-marker {
  position: absolute;
  right: 1.5%;
  height: 30px;
  width: 1px;
  background-color: hsl(0, 0%, 40%);
}
.perfect-marker{
  position: absolute;
  left: 50%;
  height: 30px;
  width: 1px;
  background-color: hsl(0, 0%, 40%);
}
.late-text{
  color:hsl(0, 0%, 55%);
  font-weight: bolder;  
  margin-top: 1.75em;
  transform: translateX(-15px);
  margin-right: 100px;
}
.perfect-text{
  color:hsl(0, 0%, 55%);
  font-weight: bolder;
  transform: translateX(-20px);
  margin-top: 1.75em;
}
.marker {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  width: 25px;
  height: 25px;
  border: 1.5px solid rgb(90, 90, 90);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  transition: left .3s;
  z-index: 1;
}

.tempo-setter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tempo-setter > button {
  margin: 10px;
  font-weight: bolder;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* .tempo-setter > button {
  height: 100%;
} */
.space{
  background-color: hsl(0, 0%, 80%);
  color: black;
  font-weight: bolder;
  border-radius: 15px;
  padding: 10px 25px;
}
.logList{
  font-family:'Courier New', Courier, monospace;
  font-size: 1.3em;
  font-weight: bolder;
}
.activated{
  background-color: hsl(0, 0%, 40%);
  color: hsl(0, 0%, 80%);
}
.description, .accuracy {
  color: hsl(0, 0%, 45%);
  margin-bottom: 5px;  
   /* color: blue; */
}
.raw-accuracy {
  margin-bottom: 15px;
  color: hsl(0, 0%, 29%);
}
.disclaimer{
  position: absolute;
  text-align: center;
  left: 30%;
  bottom: 20px;
}
.blink-display{
  background-color: rgb(255, 255, 255);
  /* background-color: hsl(0, 0%, 85%); */
  width: 10em;
  height: 2em;
  margin-bottom: 20px;
}
.blink-display-active{
  /* /* background-color: hsl(120, 90%, 25%); */
  /* background-color: hsl(284, 100%, 50%);  */
  /* background-color: hsl(0, 100%, 50%);  */
  background-color: hsl(0, 100%, 50%);
}
h1{
  margin-bottom: 20px;
}

li {
  list-style-type: none;
}

.perfect {
  color: hsl(179, 85%, 46%);
}
.good {
  color: rgb(0, 255, 30);
}
.okay {
  color: rgb(255, 157, 0);
}
.fail {
  color: hsl(0, 100%, 40%);
}